:root {
    --text-color: white;
    --main-color: #5ca3ff;
    --accent-color: #99c5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(248, 243, 237, 0.84);
}

.page-wrapper {
    max-width: 1000px;
    margin: 120px auto 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: black;
    z-index: 999;
    box-sizing: border-box;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
}

.nav-item a:hover {
    color: var(--main-color);
}

a:active {
    background-color: hotpink;
}

.user-icon {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.user-icon:hover {
    background-color: #fd2df3;
}

.new-project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 30px 40px;
}

.new-project-wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.new-project-wrapper .input-box {
    width: 100%;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: var(--text-color);
    padding: 20px 20px 20px 20px;

}

.input-box input::placeholder {
    color: #ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.login-wrapper {
    width: 450px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 40px 50px;
    margin-top: 120px;
}

.login-wrapper h1 {
    text-align: center;
    font-size: 36px;
}


.login-wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}


.login-wrapper input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 12px 40px 12px 20px;
    outline: none;
    color: white;
    box-sizing: border-box;
}

.login-wrapper input::placeholder {
    color: #fff;
}


.login-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}

.login-btn {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: var(--main-color);
}




.login-forgot-password,
.login-register {
    text-align: center;
    margin-top: 10px;
}

.login-forgot-password a,
.login-register a {
    color: white;
    text-decoration: none;
}

.login-forgot-password a:hover,
.login-register a:hover {
    color: white;
    text-decoration: none;
}


.login-error-display-area {
    text-align: center;
    margin-top: 15px;
}

.login-error-display-area.error {
    color: #ff6b6b;
}

.login-error-display-area.success {
    color: #7CFC00;
}


.registerWrapper {
    width: 450px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 40px 30px;
    margin-top: 120px;
    box-sizing: border-box;
}

.registerWrapper h1 {
    text-align: center;
    font-size: 36px;
}


.registerWrapper .input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.registerWrapper input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 12px 40px 12px 20px;
    outline: none;
    color: white;
    box-sizing: border-box;
}

.registerWrapper input::placeholder {
    color: #fff;
}

.registerWrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}


.registerWrapper .login-btn {
    width: 100%;
    background-color: #2258c3;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.registerWrapper .login-btn:hover {
    background-color: #2258c3;
}


.registerWrapper .register {
    text-align: center;
    margin-top: 10px;
}

.registerWrapper .register a {
    color: white;
    text-decoration: none;
}.homepage-container {
     display: flex;
     width: 100%;
     height: 100vh;
 }

.homepage-text {
    flex: 1;
    max-width: 50%;
    padding: 50px;
}

.homepage-text h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.homepage-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.homepage-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
}
.redirect-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #5ca3ff;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.redirect-btn:hover {
    background-color: #163a75;
}

/* HOME PAGE */
.isemptystate {
    font-size: 20px;
}

.usersProjects ul {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.usersProjects li {
    padding: 0;
}

.project-card {
    display: block;
    background-color: #5ca3ff;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: 100%;
}
.project-title-homepage {
    font-weight: bold;
}
.input-box input::placeholder {
    color: #ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.project-card:hover {
    background-color: #2563eb;
    cursor: pointer;
}
