:root {
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(248, 243, 237, 0.84);
}

.navbar {
    display: flex;
    background: black;
    border-radius: 0px;
    padding: 2px 20px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
}

.nav-item a:hover {
    color: #2258c3;
}

.user-icon {
    background-color: #2258c3;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.user-icon:hover {
    background-color: #fd2df3;
}

.new-project-wrapper {
    width: 700px;
    background: #004b80;
    color: var(--text-color);
    border-radius: 5px;
    padding: 30px 60px;
}

.new-project-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.new-project-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--text-color);
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}