<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon-wand.jpg">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="navbar">
        <img src="/static/images/black-logo-removebg-preview.png" alt="Logo" class="logo" />
        <ul class="menu">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">My Projects</a></li>
            <li class="nav-item"><a href="#">Help</a></li>
        </ul>
        <button type="submit" class="user-icon"><i class='bx  bxs-user'  ></i></button>
    </nav>

    <form class="new-project-wrapper">
          <!--th:action="@{#}"
          th:object="${project}"
          method="post"-->
        <h1>Create New Project</h1>

        <div class="input-box">
            <input id="project-title" placeholder="Title">
        </div>
        <div class="input-box">
            <input id="project-description" placeholder="Description">
        </div>
        <div class="input-box">
            <input id="project-deadline" type="date" placeholder="DeadLine">
        </div>
    </form>
</body>
</html>