<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="container edit-project-wrapper">

    <h1>Edit Task</h1>

    <!-- Save changes form -->
    <form th:action="@{/task/editTask/save}" method="post" th:object="${task}">
        <!-- Hidden field for the Task ID -->
        <input type="hidden" th:field="*{taskId}">
        <input type="hidden" th:field="*{assigneeId}">
        <input type="hidden" th:field="*{estimate}">
        <input type="hidden" th:field="*{actualTime}">


        <input type="hidden" name="projectId" th:value="${projectId}">

        <label for="title">Title:</label><br>
        <input type="text" id="title" th:field="*{title}"><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" th:field="*{description}"></textarea><br><br>

        <button type="submit" class="save-changes-btn">Save Changes</button>
    </form>

    <br><br>

    <p>Current Assignee:</p>
    <p th:text="${task.assignee != null ? task.assignee.email : 'no users assigned yet'}"></p>

    <br><br>
    <!-- Add assignee form -->
    <form th:action="@{/task/editTask/removeAssignee}" method="post">
        <input type="hidden" name="taskId" th:value="${task.taskId}">
        <input type="hidden" name="projectId" th:value="${projectId}">
        <button type="submit" class="member-action-btn">Remove Assignee</button>
    </form>

    <br><br>

    <!-- Add assignee form -->
    <form th:action="@{/task/editTask/addAssignee}" method="post">
        <input type="hidden" name="taskId" th:value="${task.taskId}">
        <input type="hidden" name="projectId" th:value="${projectId}">

        <label for="assigneeEmail">Add Assignee by Email:</label><br>
        <input type="email" id="assigneeEmail" name="userEmail" placeholder="user@example.com" required><br><br>
        <button type="submit" class="member-action-btn">Add Assignee</button>
    </form>

    <br><br>

    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
</div>


</body>
</html>
