<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Subproject</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/black-logo.jpg}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <img src="/images/black-logo-removebg-preview.jpg" alt="Logo" class="logo" />
        <ul class="menu">
            <li>
                <a th:href="@{/project/dashboard/{projectId}(projectId=${projectId})}" class="backButton-nav">
                    <i class='bxr bx-arrow-left'></i>
                    Return
                </a>
            </li>
            <li class="nav-item"><a th:href="@{/project/home}">Home</a></li>
            <li class="nav-item"><a th:href="@{/project/help}">Help</a></li>
        </ul>
    </div>
    <button type="submit" class="user-icon"><i class='bx bxs-user'></i></button>
</nav>

<div class="container edit-project-wrapper">

    <h1>Edit Subproject</h1>


    <form th:action="@{'/task/subproject/'+ ${subproject.subProjectId} + '/' + ${subproject.parentId} + '/save'}" method="post">

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" th:value="${subproject.title}"><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" th:text="${subproject.description}"></textarea><br><br>

        <label for="deadline"><strong>Deadline</strong> (Press the calendar icon)</label><br>
        <input type="date" id="deadline" name="deadline" th:value="${subproject.deadline}"><br><br>


        <button type="submit" class="save-changes-btn">
            Save Changes
        </button>
    </form>
</div>

</body>
</html>
