<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" href="/static/images/black-logo.jpg">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body class="homepageBody">

<nav class="navbar">
    <div class="navbar-left">
        <img src="/images/black-logo-removebg-preview.jpg" alt="Logo" class="logo" />
        <ul class="menu">
            <li class="nav-item"><a th:href="@{/project/home}">Home</a></li>
            <li class="nav-item"><a th:href="@{/project/help}">Help</a></li>
        </ul>
    </div>
    <button type="submit" class="user-icon"><i class='bx bxs-user'></i></button>
</nav>


    <div th:if="${UsersListOfProjects.isEmpty()}" class="isemptystate">
    <p> You do not have any projects yet </p>
    </div>
    <div class="usersProjects">
        <div>
            <h2 id="currentProjectsTitle">Current projects:</h2>
            <p id="currentProjectsDescription">Choose between your current projects that you are working on, or press the <strong id="homePagePlusIcon">"+"</strong> button to create a new project</p><!-- for merge -->
        </div>

        <ul>
            <li th:each="project : ${UsersListOfProjects}">
                <a th:href="@{/project/dashboard/{id}(id=${project.getProjectId()})}" class="project-card">
                    <h3 class="project-title-homepage" th:text="${project.title}"></h3>
                    <p class="project-description-homepage" th:text="${project.description}"></p>
                    <p class="project-deadline-homepage">Deadline: <span th:text="${project.deadline}"></span></p>
                </a>
            </li>
            <li>
                <a th:href="@{/project/createProject}" class="project-card add-project-card">
                    <div class="add-icon">+</div>
                    <p class="add-text">Create New Project</p>
                </a>
            </li>
        </ul>
    </div>



</body>
</html>