<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon-wand.jpg">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<nav class="navbar">
    <div class="navbar-left">
        <img src="/images/black-logo-removebg-preview.jpg" alt="Logo" class="logo" />
        <ul class="menu">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">My Projects</a></li>
            <li class="nav-item"><a href="#">Help</a></li>
        </ul>
    </div>
    <button type="submit" class="user-icon"><i class='bx  bxs-user'  ></i></button>
</nav>
    <div th:if="${UsersListOfProjects.isEmpty()}" class="isemptystate">
    <p> You do not have any projects yet </p>
    </div>
    <div class="usersProjects"> <!-- for merge -->
        <ul>
            <li th:each="project : ${UsersListOfProjects}">
                <a th:href="@{/project/dashboard/{id}(id=${project.getProjectId()})}" class="project-card">
                    <h3 class="project-title-homepage" th:text="${project.title}"></h3>
                    <p class="project-description-homepage" th:text="${project.description}"></p>
                    <p class="project-deadline-homepage">Deadline: <span th:text="${project.deadline}"></span></p>
                </a>
            </li>
        </ul>
    </div>
    <a th:href="@{/project/createProject}">
        <button type="submit" class="create-project" th:href="@{/project/createProject}">Create New Project</button>
    </a>

</body>
</html>