<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div class="usersProjects">
        <ul>

            <li th:each="project : ${usersProjects}">
                <h3 th:text="${project.title}"></h3>
                <p th:text="${project.description}"></p>
                <p>Deadline: <span th:text="${project.deadline}"></span></p>
            </li>
        </ul>
    </div>
</body>
</html>