<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="homepage-container">

    <div class="homepage-text">
        <a href="login" class="redirect-btn">Go to Login</a>
        <h1>Welcome to ProjectWizard</h1>

        <p>The simple way to stay in control of your projects.
            Project Wizard is a minimalist project management tool designed for anyone who wants to work smarter,
            not harder.</p>

        <p>With a clean overview, intuitive features, and clear project flows, Project Wizard helps you plan, organize,
            and follow your tasks all the way to completion.</p>

        <p>Gain insight into your project progress with real-time data, visual status indicators, and simple dashboards
            that give you exactly the information you need — without noise or unnecessary features.</p>

        <p><strong>Plan. Track. Deliver.</strong> Project Wizard makes project management clear, fast, and focused.</p>
    </div>

    <div class="homepage-image">
        <img src="/images/projectWizard.png" alt="Project Wizard Overview">
    </div>

</div>


</body>
</html>