<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" href="/static/images/black-logo.jpg">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <img src="/images/black-logo-removebg-preview.jpg" alt="Logo" class="logo" />
            <ul class="menu">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">My Projects</a></li>
                <li class="nav-item"><a href="#">Help</a></li>
            </ul>
        </div>
        <button type="submit" class="user-icon"><i class='bx  bxs-user'  ></i></button>
    </nav>

    <div class="statisticsContainer">

        <div class="statisticsBoxItem">

            <div class="statisticsBox">
                <div class="statisticsLabel">Estimated Hours until done</div>
                <div class="statisticsValue" th:text="${@statisticsService.hoursLeftFromTasksNotInDoneByProjectId()}"></div>
            </div>

            <div class="statisticsBox">
                <div class="statisticsLabel">Estimated Time On Tasks In Done</div>
                <div class="statisticsValue" th:text="${@statisticsService.timeEstimatedOnTasksInDone()}"></div>
            </div>

            <div class="statisticsBox">
                <div class="statisticsLabel">Actual Time On Tasks In Done</div>
                <div class="statisticsValue" th:text="${@statisticsService.timeActualUsedForAllTasksAndSubtasks()}"></div>
            </div>

            <div class="statisticsBox">
                <div class="statisticsLabel" th:text="${@statisticsService.timeDifferenceOnAllTasksAndSubtasks() <= 0} ? 'Time used over the estimate' : 'Time saved in hours'"></div>
                <div class="statisticsValue"
                     th:text="${@statisticsService.timeDifferenceOnAllTasksAndSubtasks()}"
                     th:style="'color:' + (${@statisticsService.timeDifferenceOnAllTasksAndSubtasks() <= 0} ? 'red' : '#00ff19')">
                </div>
            </div>
            <div class="statisticsBox">
                <div class="statisticsLabel">Estimated Hours for full project</div>
                <div class="statisticsValue" th:text="${@statisticsService.timeEstimatedOnAllTasksAndSubtasks()}">0</div>
            </div>

            <div class="statisticsBox">
                <div class="statisticsLabel">Total tasks in backlog</div>
                <div class="statisticsValue" th:text="${@statisticsService.totalTasksByProjectId()}"></div>
            </div>

        </div>


        <div class="statisticsBarItems">

            <div class="progress-container">
                <p class="startAndStopTitle" th:text="${@statisticsService.getCreatedAtByProjectId()} + ': Start of project'"></p>
                <p class="startAndStopTitle" th:text="${@statisticsService.getDeadLineByProjectId()} + ': Deadline'"></p>

                <p class="days-left" th:text="${daysUntilDeadlineProject}"></p>
                <div class="progress-bar">
                    <div class="progress-fill"
                         th:style="'width:' + ${@statisticsService.getPercentageOfProjectDone()} + '%'">
                    </div>
                </div>



                <p class="days-left" th:text="${@statisticsService.tasksInDoneByProjectId()} + ' Tasks in done out of ' + ${@statisticsService.totalTasksByProjectId()}"></p>
                <div class="progress-bar">
                    <div class="progress-fill"
                         th:style="'width:' + ${@statisticsService.getPercentageOfTasksDone()} + '%'">
                    </div>
                </div>

                <div class="statisticsSubprojectBox">
                    <div class="subprojectLabel">Subprojects</div>
                    <div class="statisticsValue" th:text="${@statisticsService.getNumberOfSubprojects()}"></div>
                </div>

                <div class="specificStatisticsSubprojectBox" th:each="subproject : ${subprojects}">
                    <p class="subprojectLabel" th:text="${subproject.title}"></p>
                    <p th:text="'Total Tasks: ' + ${@statisticsService.getAllTasksInSubproject()}"></p>
                    <p th:text="'Total Done: ' + ${@statisticsService.getNumberOfTasksInSubProjectsInDone()}"></p>
                    <p th:text="'Estimated hours: ' + ${@statisticsService.estimatedHoursForSubproject()}"></p>
                    <p th:text="'Actual hours: ' + ${@statisticsService.actualHoursForSubproject()}"></p>

                </div>

            </div>
        </div>
    </div>
</body>
</html>