<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/black-logo.jpg}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet' />
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <img src="/images/black-logo-removebg-preview.jpg" alt="Logo" class="logo" />
        <ul class="menu">
            <li class="nav-item"><a th:href="@{/project/home}">Home</a></li>
            <li class="nav-item"><a th:href="@{/project/help}">Help</a></li>
        </ul>
    </div>
    <button type="submit" class="user-icon"><i class='bx bxs-user'></i></button>
</nav>
<div class="registerWrapper">
    <form th:action="@{/users/register}" method="post">
        <h1>Create Account</h1>

        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required >
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
            <input type="email" name="email" placeholder="Email" required >
            <i class='bx bxs-envelope'></i>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required >
            <i class='bx bxs-lock'></i>
        </div>

        <button type="submit" class="login-btn">Register</button>

        <div class="register">
            <a th:href="@{/login}">Already have an account? <strong>Login</strong></a>
        </div>
    </form>

    <p class="error-display-area"
       th:if="${message}"
       th:text="${message}"
       th:classappend="${messageType} == 'success' ? ' success' : ' error'">
    </p>
</div>
</body>
</html>
